* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  /* width: 100% */
  max-width: 1440px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: outfit, sans-serif;
  font-weight: 400;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  height: 55vh;
  max-width: min(17vw, 375px);
  border-radius: 15px;
  /* padding: 10px 0; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center;     */
}

img {
  height: 50%;
  max-width: 95%;
  margin: 2vh;
  /* padding-bottom: 3vh; */
  border-radius: 9px;
}
.theQrcodeDescription {
  text-align: center;
  padding-bottom: 3vh;
  font-size: 15px;
  color: rgb(169, 168, 168);
}

.theQrcodeDescription > h1 {
  font-size: 2.5vh;
  padding-bottom: 2vh;
  color: black;
}

.theQrcodeDescription > p {
  font-size: 14px;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  color: rgb(169, 168, 168);
}

.attribution a {
  text-decoration: none;
  color: hsla(228, 45%, 44%, 0.558);
}


@media (max-width: 375px){

  .container {
    background-color: hsl(0, 0%, 100%);
    height: 60vh;
    max-width: min(65vw, 375px);
    border-radius: 15px;
  }

  img {
    height: 50%;
    max-width: 90%;
  }

  .theQrcodeDescription {
    padding: 3vw;
  }
  .theQrcodeDescription > h1 {
    font-size: 17px;
  }
  .theQrcodeDescription > p {
    font-size: 12px;
  }
}